<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand">ServeRev</a>
        <form id="searchForm" class="d-flex" action="/results">
            <input class="form-control me-2" type="text" placeholder="Enter a restaurant.." name="search" id="search">
            <button class="btn btn-warning" type="submit" style="margin-right: 20px;">Search</button>
            <button class="btn btn-success" type="submit" formaction="/login">Login</button>
        </form>
    </div>
</nav>